//colors
$primary-color: #14BBF8;
$primary-color-dark: #007bff;
$white-primary:  #f3f3f3;
$background-color: #EFF7FE;

//fonts
$default-sansSeif: 'Poppins', sans-serif;
$default-cursive: 'Lobster', cursive;